
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-3">
        <div class="card mb-3">
            <div class="card-body text-center">
                <div class="row">
                    <h3 class="font-weight-bold col-8">Tickets actuales</h3>
                    <div class="float-right col-2"><button class="btn btn-success" (click)="openModal('ticket')">Crear ticket +</button></div><br>
<!--                     <div class="float-right col-2"><button class="btn btn-success" (click)="openModal('compra')">Nueva compra +</button></div><br>
 -->                    <div class="float-right col-2"><button class="btn btn-success" (click)="configurarTablas()" *ngIf="isAdmin">Configuracion</button></div><br>
                </div>
            </div>
        </div>
        <ngx-loading  [show]="loadingTickets">
        </ngx-loading>
        <ng2-smart-table [settings]="settings" [source]="tickets" (custom)="navigateDetail($event)"></ng2-smart-table>
    </div>
    <div class="col-2"></div>
</div>
<app-modal-crear-ticket #ModalCrearTicketComponent (creadoExitoso)="getTickets()"></app-modal-crear-ticket>
<app-modal-generar-compra #ModalGenerarCompraComponent (creadoExitoso)="getTickets()"></app-modal-generar-compra>