<div class="page-content page-container card mt-3" id="page-content">
    <div class="card-header">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="card-title" *ngIf="!loadingTicket">Detalle de ticket: #{{ticket.id}}</h2>
            </div>
        </div>
    </div>
    <div class="padding card-body">
        <div class="card mb-3"  *ngIf="!loadingTicket">
            <div class="card-body" [ngClass]="ticket.estado === 'Abierto' ? 'table-danger ' : ticket.estado === 'En proceso' ? 'table-warning': 'table-success'">
                <div class="row">
                    <div class="col-8">
                        <h5>Titulo: {{ticket.titulo}}</h5>
                    </div>
                    <div class="col-8">
                        <h5>Dispositivo: {{ticket.dispositivo}}</h5>
                    </div>
                    <div class="col-8">
                        <h5>AnyDesk: {{ticket.anydesk}}</h5>
                    </div>
                    <div class="col-8"  *ngIf="levelUser <= 8">
                        <h5>Estado: {{ticket.estado}}</h5>
                    </div>
                    <div class="col-8" *ngIf="levelUser > 8">
                        <div>
                            <select name="selectEstado" [(ngModel)]="ticket.estadoId">
                                <option [value]="estado.id" *ngFor="let estado of estados" [selected]="ticket.estadoId == estado.id">{{estado.descripcion}}</option>
                            </select>
                            <button class="ml-2 btn btn-sm btn-success" [ngClass]="ticket.estado === 'Cerrado' ? 'bg-danger ' :''" (click)="changeEstado()">Cambiar</button>
                        </div>
                    </div>
                </div>
                <ngx-loading
                        [show]="loadingTicket"
                ></ngx-loading>
            </div>
        </div>
        <div class="row container d-flex justify-content-center">
            <div class="col-md-10">
                <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-body">
                        <div class="direct-chat-messages">
                            <div *ngFor="let mensaje of renglones">
                            <div  [ngClass]="mensaje.userId != userId ? ' direct-chat-msg right': 'direct-chat-msg ' " >
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">{{mensaje.username }}</span>
                                    <span class="direct-chat-timestamp pull-right"> {{mensaje.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                                <div class="direct-chat-text">
                                   {{mensaje.detalle}}
                                </div>
                            </div>
                            </div>
                        </div>
                        <ngx-loading
                        [show]="loadingTicket"
                        ></ngx-loading>
                    </div>

                    <div class="box-footer"  *ngIf="!loadingTicket">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Escribir mensaje ..."  [disabled]="ticket.estado == 'Cerrado'" class="form-control" [(ngModel)]="mensaje">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning btn-flat" (click)="sendMensaje()" [disabled]="ticket.estado == 'Cerrado'" >Enviar</button>
                                </span>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>